---
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>ggD3 - the grammar of graphics in D3</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico?v=2">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/prism/prism.css">
    <!-- Theme CSS -->  

    <link id="theme-style" rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles-2.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ggd3style.css">


     <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 
{% include customcss.html %}
<body data-spy="scroll">
    
    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <span class="logo-title"></span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">  </a></li>
                        <li class="nav-item"><a class="scrollto" href="#plan">the plan</a></li>
                        <li class="nav-item"><a class="scrollto" href="#start">start</a></li>
                        <li class="nav-item"><a href="#" class="dropdown-toggle scrollto" data-toggle="dropdown" role="button" aria-expanded="false">examples<span class="caret"></span></a>
                            <ul class='dropdown-menu' role='menu'>
                            {% for example in site.data.examples %}
                              <li>
                                <a href="{{ example.url }}">
                                  {{ example.name }}
                                </a>
                              </li>
                            {% endfor %}
                            </ul>
                        </li>

                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
    
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">gg<span class="highlight">D3</span></h2>
            <p class="intro">grammar of graphics in D3</p>
            <div class="btns">
                <a class="btn btn-cta-primary" href="https://github.com/benjh33/ggd3/archive/master.zip" target="_blank">Download</a>
            </div>
            <ul class="meta list-inline">
<!--                 <li><a href="#" target="_blank">View on GitHub</a></li>
                <li><a href="https://github.com/benj33/ggd3" target="_blank">Full Documentation</a></li>
 -->            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <li class="twitter-follow"><a href="https://twitter.com/benjhunter" class="twitter-follow-button" data-show-count="false">Follow @benjhunter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-follow-->
                    <li class="twitter-tweet">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="benjhunter" data-hashtags="ggd3,dataviz">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-tweet-->
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                    <li class="github-star"><iframe src="http://ghbtns.com/github-btn.html?user=benjh33&repo=ggd3&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
                    <li class="github-fork"><iframe src="http://ghbtns.com/github-btn.html?user=benjh33&repo=ggd3&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe></li>
                    <li class="github-follow"><iframe src="http://ghbtns.com/github-btn.html?user=benjh33&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe></li>
                    
                </ul>
            </div>
        </div>
    </section><!--//promo-->
    
    <!-- ******ABOUT****** --> 
    <section id="plan" class="about section">
        <div class="container">
            <h2 class="title text-center">Why the grammar of graphics in D3?</h2>
            <p class="intro">It needs to be done. As I get better at using D3, I sometimes think that it is as general as it can and should be. Of course, hours later when I sort of have what I want, I realize that development has overshadowed whatever statistical question I was thinking of.  Panning, zooming, tooltips and brushing are valuable features that should be available in exploratory data analysis. Faceting and interactivity can go a long way toward eliminating silly dual x and y axes plots that are often showcased as an advanced feature of many packages (with apologies to fans of them and authors of packages that include them). </p>

            <p class="intro">I first got into R, like many people, by learning <a href="https://github.com/hadley">Hadley Wickham's</a> <a href="http://ggplot2.org/">ggplot2</a>. Its goal of shortening the effort between brain and picture is laudable and should be replicated in D3. <a href="https://github.com/gigamonkey/gg">Gigamonkey</a> has started one, but it looks like he's got more pressing things to do. I've been casually writing and learning javascript for a couple of years, but have no formal CS pedigree and have never embarked on something this big. I'd like it to work well, eventually. After starting and restarting twice, I now have something that works and appears to be extendable. If you have advice on architecture, features, or can point out something blatantly dumb that I'm doing, please let me know. In the meantime, I plan to build out the following features and would love some collaborators.</p>

            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="content">
                        <h3 class="sub-title">Facets</h3>
                        <p>I find it the most useful feature in ggplot2 and wonder why other libraries don't start with a plan for small multiples. Fixed and free scales both work and I'd like to adopt free space as well. Eventually, you will be able to enter a reusable chart to a ggd3.plot() object and have it faceted.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="content">
                        <h3 class="sub-title">Composable</h3>
                        <p>So far this is working okay. A chart has a <code>layers</code> method that appends a layer to an array of layers. Erase them by passing an empty array. Layers have their own aesthetic maps that inherit undefined aesthetics from the chart object. An entry in the array can be a string of a geom name, a layer object, or a geom object.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="content">
                        <h3 class="sub-title">Style</h3>
                        <p>I'd like a handful of css files that can be applied at the chart level to easily change the theme and allow for customization or quick overrides of defaults.</p>
                    </div><!--//content-->
                </div><!--//item-->           
            </div><!--//row-->
            <div class='row'>
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="content">
                        <h3 class="sub-title">Geoms</h3>
                        <p>Currently in fairly working order are point, line, histogram, density, bar, boxplot, text and abline. Hline and vline should come next without too much effort, then path, ribbon, area and error/linerange.</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="content">
                        <h3 class="sub-title">Todo: Axis pan and zoom</h3>
                        <p>For continuous axes, a default zoom behavior would save a lot of hassle when dealing with uncertain differences in domains between facets or groups of geoms. If someone has an example of how to do such a thing on an ordinal axis, I'd like to see it. </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="content">
                        <h3 class="sub-title">Todo: Brushing</h3>
                        <p>I'd like each geom to have a default brush behavior that exports the brush range to drive behaviors or highlight the same ranges or same data points in other facets. </p>
                    </div><!--//content-->
                </div><!--//item-->               
        </div><!--//container-->
    </section><!--//about-->
    
    <!-- ******docs****** --> 
    <section id="start" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>            
            <div class="block">
                <h3 class="sub-title text-center">The basics</h3>
                <p>This features a gaussian density curve drawn over a histogram with 30 bins. Proportions are shown, rather than frequency counts to allow you to see the density curve. With stacked histograms, the proportion will add up to more than one. I'll have to fix that. </p>
                <div class="code-block">
                    <pre><code class="language-javascript">
gaussian = ggd3.geoms.density().kernel('gaussianKernel');
proportionHist = ggd3.geoms.histogram().frequency(false);
irisHistogram = ggd3.plot()
                // all plots come with a 20px high title 
                // bar and 20px wide
                // y-title if needed. Setting both to zero.
                .facet({titleSize: [0,0]})
                .margins({left: 50})
                .aes({x: "Sepal.Width", fill: "Species",
                        color:'Species'})
                .layers([proportionHist, gaussian])
                .data(iris)
                .width(700)
                .height(350);
irisHistogram.draw(d3.select('#iris'));
                    </code></pre>
                </div><!--//code-block-->
            <div id="iris" class='chart-frame'>
            </div>
                <p>To see the histograms side-by-side, crack open the console and type the following: </p>
                <div class="code-block">
                    <pre><code class="language-javascript">
irisHistogram.layers()[0].position('dodge');
irisHistogram.draw(d3.select('#iris')); 
                    </code></pre>
                </div>                           </div><!--//block-->   
            <div class="block">
                <h3 class="sub-title text-center">A little fancier</h3>
                <p>This example employs a facet according to whether the car is American. The use of D3's "silhouette" option on the stack layout is a bit gratuitous, but I like it for show. </p>
                <p> I feel I've got a pretty good method for aggregating continuous variables and mapping them to aesthetics. Here the y variable is mapped to the mean and the alpha is mapped, by default, to the median. For kicks, I threw in the points geom as well, though you can't see the y-axis because that is not drawn with the "silhouette" option.</p>

                <div class="code-block">
                    <pre><code class="language-javascript">
var carLayer = ggd3.layer()
                    .position('stack')
                    .stat({y: 'mean'})
                    .geom(ggd3.geoms.bar().offset('silhouette'));
var jitterLayer = ggd3.layer().position('jitter').geom('point');
var carChart = ggd3.plot()
                    .layers([carLayer, jitterLayer])
                    .width(250)
                    .facet({x:'am', nrows: 1})
                    .dtypes({"gear": ["string"], "cyl": ["string"]})
                    .data(cars)
                    .aes({x: "cyl", y: "mpg", fill: "gear", 
                         alpha: "hp"});
carChart.draw(d3.select('#cars'));
                    </code></pre>
                </div><!--//code-block-->
            <div id="cars" class='chart-frame'>
            </div>
            </div><!--//block-->   
            <div class="block">
                <p>And yes, there are no axis labels yet. Those'll happen in due time. Check out the examples, they're still a little rough, but they make sense. Thanks for reading. Hit me up on github.</p>
            </div>    
<!--             <div class="block">
                <h3 class="sub-title text-center">Full Documentation</h3>
                <p>If your documentation is very long you can host the full docs page (including FAQ etc) on GitHub and provide a Call to Action button below to direct users there.</p>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://github.com/twbs/bootstrap" target="_blank">More on GitHub</a>
                </p>
            </div><!--//block
 -->            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//features-->
    
    <!-- ******LICENSE****** 
    <section id="license" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">License</h2>
                <div class="info">
                    <p>This Bootstrap theme is made by UX designer <a href="https://www.linkedin.com/in/xiaoying" target="_blank">Xiaoying Riley</a> at 3rd Wave Media for developers and is <strong>100% FREE</strong> under the <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0 License (CC BY 3.0)</a></p>
                    <p><strong>[Tip for developers]:</strong> If your project is open source, you might want to put a <a href="https://www.paypal.com/us/cgi-bin/?cmd=_donate-intro-outside" target="_blank">PayPal "Donate" button</a> below so your users can express their gratitude. If your project is commercial, you can put a <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_singleitem-intro-outside" target="_blank">PayPal "Buy Now" button</a> instead.</p>
                </div><!--//info-->
<!--
                <div class="cta-container">
                    <div class="speech-bubble">                    
                        <p class="intro">If you are feeling generous and want to show your support to Xiaoying, you can buy her a beer or coffee via the PayPal donate button below. :)</p>
                        <div class="icon-holder  text-center"><i class="fa fa-smile-o"></i></div>
                    </div><!--//speech-bubble
                    <div class="btn-container  text-center">
                        <!--//You need to generate your own PayPal button - https://www.paypal.com/us/cgi-bin/?cmd=_donate-intro-outside -->         
                        <!--PayPal generated code starts
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="Y46LJNXGAVVWW">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                        </form>
                        <!--//PayPal generated code ends
                        
                    </div><!--//btn-container
                </div><!--//cta-container-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
      
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Thanks to </i><a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for the design.</small>
        </div><!--//container-->
    </footer><!--//footer-->
     
    <!-- Javascript -->          
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery-migrate-1.2.1.min.js"></script>    
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>       
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/d3.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/lodash.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/ggd3.v.0.1.0.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/homepage.js"></script>
</body>
</html> 

