    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a href="/"> / </a></li>
                        <li class="nav-item"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">examples<span class="caret"></span></a>
                            <ul class='dropdown-menu' role='menu'>
                            {% for example in site.data.examples %}
                              <li>
                                <a href="{{ site.baseurl}}/{{ example.url }}">
                                  {{ example.name }}
                                </a>
                              </li>
                            {% endfor %}
                            </ul>
                        </li>

                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
