foreignObject.label body {
  position: absolute;
  background-color: white;
}
foreignObject.label div {
  background-color: white;
}
.chart-frame {
  padding: 50px;
}

.tick text {
  font-size: 10pt;
  stroke: grey;
  font-family: verdana;
}

.x.axis path, .y.axis path, line,
.grid-y, .grid-x {
  fill:none;
  shape-Rendering: crispEdges;
  stroke: #222222;
  stroke-opacity: 0.9 ;
}
svg {
  font: 10px sans-serif;
}
/* tooltips */
.plot-div .ggd3tip {
  min-width: 200px;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.9);
  display: inline;
  text-align: left;
  font-size: 1em;
  box-shadow: 5px 5px 5px #888888;
  z-index: 1000;
}

.ggd3tip .tooltip-content {
  font-weight: normal;
  color: black;
}
.ggd3tip .tooltip-content span {
  font-weight: normal;
  font-size: 10pt;
  color: black;
}
.tooltip-content h4 {
  font-weight: normal;
  font-size: 12pt;
  color: black;
}

rect.brushframe {
  fill: none;
}
.yadjust {
  fill: none;
  pointer-events: all;
  cursor: ns-resize;
}
.xadjust {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

.plot-div {
  float: left;
  position: relative;
/*  border-width: 1px;
  border-style: solid;
*/}

.background {
  fill: #ddd;
  opacity: 0.2;
}

.chart {
  shape-Rendering: crispEdges;
  stroke: #222222;
}
.facet-label-x{
  fill: white;
  fill-opacity: 0.3;
  stroke: black;
  stroke-width: 1px;
}
.facet-label-y{
  fill: white;
  fill-opacity: 0.3;
  stroke: black;
  stroke-width: 1px;
}
.facet-title-x {
  font-size: 20px;
}
.facet-title-y {
  font-size: 20px;
}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

/* geoms */
path.geom-grid-horiz, path.geom-grid-vert {
  stroke-dasharray: 3,1;
  stroke-opacity: 0.4;
}
.geom-point {
  stroke: none;
}
.geom-density {
  fill: none;
}
rect.geom {
  shape-Rendering: crispEdges;
  stroke: #222222;
  stroke-opacity: 0.8;
}
circle.shade {
  fill: gray !important;
  opacity: 0.1 !important;
}
.hist {
  stroke: black;
}
.domain {
  stroke: black;
}

/*.tick line{
  stroke: none !important;
}*/
